{% extends 'base.html.twig' %}

{% block title %}{% trans %}Users management{% endtrans %}{% endblock %}

{% set role_mapping = {
    'ROLE_ADMIN': 'Administrator',
    'ROLE_USER': 'User',
} %}

{% block body %}
    <h1 class="mb-3">{% trans %}Users management{% endtrans %}</h1>

    {% include 'partials/_flash_messages.html.twig' %}

    <a href="{{ path('app_user_new') }}" class="btn btn-primary">
        {% trans %}Create new{% endtrans %}
    </a>

    <div class="table-responsive">
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th class="text-nowrap">ID</th>
                <th class="text-nowrap">{% trans %}Name{% endtrans %}</th>
                <th class="text-nowrap">{% trans %}Email{% endtrans %}</th>
                <th class="text-nowrap">{% trans %}Roles{% endtrans %}</th>
                <th class="text-nowrap">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td class="text-nowrap">{{ user.id }}</td>
                    <td class="text-nowrap">{{ user.name }}</td>
                    <td class="text-nowrap">{{ user.email }}</td>
                    {% set readable_roles = user.roles ? user.roles|map(role => role_mapping[role] ?? role)|join(', ') : '' %}
                    <td>{{ readable_roles }}</td>
                    <td class="d-flex align-items-center gap-2">
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary btn-sm">
                            {% trans %}Show{% endtrans %}
                        </a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm">
                            {% trans %}Edit{% endtrans %}
                        </a>
                        <form action="{{ path('app_user_delete', {'id': user.id}) }}" method="POST" onsubmit="return confirm('{% trans %}Are you sure?{% endtrans %}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm">
                                {% trans %}Delete{% endtrans %}
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{% trans %}No records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation d-flex justify-content-end">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
